.login-page{
height:100vh;
position:relative;
overflow:hidden;
}

/* FULL BACKGROUND ANIMATION */

.animation-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
justify-content:flex-start;
align-items:center;
padding-left:80px;
z-index:1;
overflow:hidden;
}

/* Animation size control */

.animation-bg svg{
width:70%;
height: 70px;;
}

/* FLOATING LOGIN FORM */

.login-card{
position:absolute;
right:70px;
top:50%;
transform:translateY(-50%);
background:white;
padding:35px;
width:380px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
z-index:2;
}

.login-card h2{
text-align:center;
margin-bottom:20px;
}

.login-card input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:6px;
}

/* CAPTCHA */

.captcha-row{
display:flex;
align-items:center;
gap:10px;
margin:10px 0;
}

.captcha-text{
background:#eee;
padding:10px;
font-weight:bold;
letter-spacing:2px;
border-radius:5px;
}

.captcha-btn{
border:none;
background:#26c6da;
color:white;
padding:10px;
border-radius:5px;
cursor:pointer;
}

/* LOGIN BUTTON */

.login-btn{
width:100%;
padding:12px;
margin-top:10px;
background:#1976d2;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

/* REGISTER LINK */

.register-link{
text-align:center;
margin-top:12px;
}

.register-link span{
color:#1976d2;
font-weight:bold;
cursor:pointer;
}