.register-page{

min-height:100vh;
background:linear-gradient(135deg,#0f4cbd,#1fc0db);
display:flex;
justify-content:center;
align-items:center;
padding-top:100px;

}

.register-container{

display:flex;
width:90%;
max-width:1200px;
margin:auto;
align-items:center;
justify-content:center;
gap:80px;

}

.register-left{

flex:1;
display:flex;
justify-content:center;
align-items:center;

}

.animation{

width:520px;
max-width:100%;

}

.register-right{

flex:1;
display:flex;
justify-content:center;

}

.register-card{

background:white;
padding:30px;
width:380px;
border-radius:12px;
box-shadow:0px 10px 30px rgba(0,0,0,0.2);

}

.register-card h2{

text-align:center;
margin-bottom:20px;

}

.register-card input{

width:100%;
padding:10px;
margin:8px 0;
border-radius:6px;
border:1px solid #ccc;

}

.captcha-box{

display:flex;
align-items:center;
gap:10px;
margin-top:8px;

}

.captcha-text{

background:#eee;
padding:10px 15px;
font-weight:bold;
letter-spacing:3px;
border-radius:5px;

}

.captcha-box button{

background:#1fc0db;
border:none;
padding:10px;
color:white;
border-radius:5px;
cursor:pointer;

}

.register-btn{

width:100%;
padding:12px;
margin-top:10px;
background:#1fc0db;
border:none;
color:white;
font-weight:bold;
border-radius:6px;
cursor:pointer;

}

.login-link{

text-align:center;
margin-top:10px;

}

.login-link span{

color:#0f4cbd;
cursor:pointer;
font-weight:bold;

}