.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
background:linear-gradient(90deg,#2a5bd7,#2ea0ff);
color:white;
}

.navbar-logo{
font-size:22px;
font-weight:bold;
}

/* MENU */
.navbar-links{
display:flex;
align-items:center;
gap:25px;
list-style:none;
margin:0;
padding:0;
}

.navbar-links li{
list-style:none;
}

.navbar-links a{
text-decoration:none;
color:white;
font-weight:500;
}

/* BUTTON AREA */
.navbar-buttons{
display:flex;
align-items:center;
gap:10px;
}

/* GET STARTED */
.get-started{
background:#ffd54f;
border:none;
padding:8px 15px;
border-radius:6px;
font-weight:600;
cursor:pointer;
}

/* LOGIN */
.login-btn{
background:#3b82f6;
border:none;
padding:8px 15px;
border-radius:6px;
color:white;
font-weight:600;
cursor:pointer;
}

.login-btn:hover{
background:#2563eb;
}